@import './theme.scss';

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin gridTable {
  display: grid;
  grid-template-columns:
    minmax(180px, 1fr) repeat(2, minmax(80px, 140px)) minmax(40px, 100px)
    minmax(80px, 140px) 40px;
  gap: 20px;
}

@mixin blockTable {
  display: flex;
  align-items: center;
  white-space: nowrap;
  & {
    display: flex;
    align-items: center;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
    border: solid 3px transparent;
  }

  &::-webkit-scrollbar:horizontal {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(216, 216, 216);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(187, 187, 187);
    border-radius: 8px;
    border: solid 3px transparent;
  }
}

@mixin input {
  outline: none;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  margin: 6px 0;
  background-color: $light-blue;
  border: 1px solid darken($light-blue, 10%);
  font-size: $font-size-m;
  &:disabled {
    opacity: 0.8;
  }
}

@mixin clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin textarea {
  width: 100%;
  resize: none;
  border: none;
  background-color: $white;
  border-radius: 4px;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  &:focus {
    outline: none;
  }
}

@mixin authContainer {
  @include flex-center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  padding: 16px;
  background-color: $light;
}

@mixin authBtn {
  border: none;
  outline: none;
  padding: 12px 0;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  margin: 24px;
  cursor: pointer;
}
