$white: #fcfcfc;
$light: #f4f5f9;
$light-grey: #e7e9f0;
$grey: #d4d4df;
$dark-grey: #919199;
$light-blue: #f6faff;
$green: #3bb19b;
$blue: #0d6192;
$blue-hover: darken($blue, 7%);
$red: #ca1a2b;
$red-hover: darken($red, 7%);
$success: $green;
$error: #af5861;
$graphite: #4a5062;

$overlay: rgba(0, 0, 0, 0.6);
$divider: 1px solid $grey;
$box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
$box-shadow-auth: 0px 5px 31px -16px rgba(137, 140, 160, 0.6);

$font-size-xxl: 2rem;
$font-size-xl: 1.5rem;
$font-size-l: 1rem;
$font-size-m: 0.875rem;
$font-size-s: 0.75rem;
