.container {
  padding: 3rem;
}

.formContainer {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.formGroup {
  width: 220px;
}

.formGroup:first-child {
  margin-right: 2rem;
}

.inputContainer {
  margin-bottom: 1.2rem;
  .selectGroup {
    display: flex;
    align-items: center;
  }
}

.select {
  width: 230px;
  max-height: 48px;
  outline: none;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf6f9;
  border: 1px solid darken(#edf3f5, 10%);
  margin: 6px 0;
  font-size: 14px;
}

.actionForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  color: rgb(74, 80, 98);
}
