@import 'assets/styles/colors.scss';
@import 'assets/styles/mixins.scss';

.productForm {
  padding: 3rem;
}

.formContainer {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.formGroup {
  width: 220px;
}

.formGroup:first-child {
  margin-right: 2rem;
}

.inputContainer {
  margin-bottom: 1.2rem;
  .selectGroup {
    display: flex;
    align-items: center;
  }
}

.select {
  width: 230px;
  max-height: 48px;
  @include input;
}

.actionForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  color: $graphite;
}

.message {
  margin-top: 20px;
  margin-bottom: 20px;
}
