.board {
  position: relative;
  min-width: 100%;
  height: 100%;
  display: flex;
  overflow-y: auto;
  padding: 1rem 2rem;
}

.container {
  margin-top: 50px;
  display: flex;
}

.listContainer {
  display: flex;
  height: 100%;
}

.formContainer {
  width: 250px;
  min-width: 250px;
}

.addListForm {
  padding: 5px;
  border-radius: 4px;
  background-color: #ebecf0;
  width: 100%;
}
