.button {
  background-color: rgb(13, 97, 146);
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-size: 14px;
  &:hover {
    background-color: darken(rgb(13, 97, 146), 5%);
  }
}
