.button {
  // width: 100%;
  background-color: rgb(13, 97, 146);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-size: 14px;
  &:hover {
    background-color: darken(rgb(13, 97, 146), 5%);
  }
  &:disabled {
    background-color: rgb(182, 182, 182);
    cursor: auto;
  }
}

.reset {
  background-color: #d90a29;
  &:hover {
    background-color: darken(#d90a29, 5%);
  }
}
