.button {
  width: 100px;
  background-color: rgb(13, 97, 146);
  color: white;
  padding: 0.6rem;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  &:hover {
    background-color: darken(rgb(13, 97, 146), 5%);
  }
}
