.taskButton {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.6rem;
  background-color: #ebecf0;
  // background-color: #d8d8e0;
  border-radius: 5px;
  transition: 0.1s;
  text-align: left;
  user-select: none;
  margin: 4px 0;
  letter-spacing: 1px;
  // opacity: 0.9;
  .icon {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    // opacity: 1;
    background-color: #d8d8e0
  }
}
