@import '../../../assets/scss/utils.scss';
@import '../../../assets/scss/mixins.scss';

.list {
  margin-right: 16px;
  width: 272px;
  margin-right: 16px;
  border-radius: 5px;
  background-color: #ebecf0;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  user-select: none;
}

.listHeader {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px;
}

.textareaWrapper {
  box-sizing: border-box;
  justify-self: center;
  width: 220px;
  overflow-wrap: break-word;
  cursor: pointer;
  h2 {
    padding: 5px;
    font-size: 14px;
    overflow-wrap: break-word;
    font-weight: bold;
    color: rgb(61, 61, 61);
    outline: 2px solid transparent;
    line-height: normal;
  }
}

.textarea {
  width: 100%;
  resize: none;
  font-weight: bold;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  outline: 2px solid rgb(38, 99, 149);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.cardsContainer {
  padding: 1px 4px 0;
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 3px;
  @include scrollbar;
}

.addCardForm {
  width: 100%;
  padding: 0 8px 4px;
}

.popupContent {
  display: flex;
  flex-direction: column;
}

.divider {
  margin: 8px 0;
  border-bottom: $divider;
}
