@import '../../../scss/utils.scss';

.container {
  width: 272px;
  // position: relative;
  padding: 0.5rem 0.5rem 5px;
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
  user-select: none;
  overflow: hidden;
}

.listHeader {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  // margin: 0.3rem 0;
}
.textWrapper {
  box-sizing: border-box;
  justify-self: center;
  width: 220px;
  overflow-wrap: break-word;
  h2 {
    padding: 0.3rem;
    font-size: 0.9rem;
    overflow-wrap: break-word;
    font-weight: bold;
    color: rgb(61, 61, 61);
    outline: 2px solid transparent;
    line-height: normal;
  }
}

.cardsContainer {
  padding-bottom: 0.3rem;
}

.textarea {
  // box-sizing: border-box;
  width: 100%;
  resize: none;
  font-weight: bold;
  border-radius: 3px;
  font-size: 0.9rem;
  padding: 0.3rem;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  outline: 2px solid rgb(38, 99, 149);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.actionsList {
  width: 100%;
}
