.wrapper {
  width: 100%;
  padding: 0 3px;
  border-radius: 0.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
}

.validateWrapper {
  max-width: 350px;
}

.success {
  text-align: center;
  width: 100%;
  align-self: center;
  margin: 0 auto;
  color: #30b68e;
  padding: 10px 1rem;
  background-color: lighten(#30b68e, 45%);
}

.error {
  text-align: center;
  width: 100%;
  align-self: center;
  margin: 0 auto;
  color: #af5861;
  padding: 10px 1rem;
  background-color: lighten(#af5861, 40%);
}

.validate {
  color: #c68188;
}
