.conatiner {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.fileImg {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 100px;
    min-width: 100px;
    height: 80px;
  }
}

.fileDetails {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  h4 {
    font-size: 14px;
    margin: 0;
  }
  span {
    font-size: 14px;
  }
}
.fileButtons {
  max-width: 160px;
  display: flex;
  margin: 0;
}
