.container {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.fileImg {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
  background-color: rgb(212, 212, 212);
  img {
    height: 100%;
    object-fit: cover;
  }
  .selectCover {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
  }
}

.fileDetails {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  h4 {
    font-size: 14px;
    margin: 0;
  }
  span {
    font-size: 14px;
  }
}
.fileButtons {
  max-width: 160px;
  display: flex;
  margin: 0;
}
