@import '../../../../scss/utils.scss';

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 998;
}

.cardModal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  background-color: #fcfcfc;
  border-radius: 0.5rem;
  z-index: 999;
  @media (max-width: 768px) {
    max-width: 400px;
  }
}

.cardModalContainer{
  padding: 1rem;
}

.cardModalHeader {
  width: 100%;
  padding: 0 0 0.5rem;
  border-bottom: 1px solid rgb(179, 179, 179);
}
.cardModalHeaderTextarea {
  height: auto;
  margin-right: 40px;
  p {
    color: grey;
    font-size: 0.9rem;
  }
}

.cardModalTextareaTitle {
  width: 100%;
  resize: none;
  font-weight: bold;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 0.3rem;
  background-color: #fcfcfc;
  border: none;
  color: rgb(61, 61, 61);
  &:hover {
    background-color: rgb(248, 248, 248);
  }
}

.cardModalContent {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 24px;
}

.cardModalMainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

.cardModalDescriptionContainer {
  margin-bottom: 2rem;
  p{
    cursor: pointer;
  }
}

.cardModalDescriptionHeader {
  display: flex;
  align-items: center;
  margin: 8px 0;
  h4 {
    font-size: 16px;
    color: grey;
    margin-bottom: 8px;
  }
}

.actionsForm {
  display: flex;
  margin-top: 0.5rem;
  &:last-child {
    margin-right: 1rem;
  }
}

.cardModalSidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 160px;
  height: 100%;
  padding-left: 1rem;
}

.divider {
  margin: 1rem 0;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.cardModalLabels {
  display: flex;
  flex-direction: column;
}

.cardModalLabelsList {
  max-height: 260px;
  overflow-y: auto;
}

.cardModalLabel {
  max-width: 200px;
  min-width: 40px;
  border-radius: 5px;
  color: #fcfcfc;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  span {
    line-height: 20px;
    padding: 8px;
    font-size: 14px;
  }
  &:hover {
    opacity: 0.9;
  }
}

.dateNotificationSpan {
  color: white;
  margin-left: 5px;
  border-radius: 4px;
  padding: 0.2rem 0.3rem;
}

.cardModalSelectedDateBtn {
  max-width: 400px;
  padding: 8px;
  background-color: #ebecf0;
  border-radius: 4px;
  &:hover {
    background-color: darken(#ebecf0, 3%);
  }
}

.filesContainer {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.cardModalCover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ebebeb;
  border-radius: 3px;
  overflow: hidden;
  img{
    height: 120px;
    cursor: pointer;
  }
}

.closeModalBtn {
  position: absolute;
  right: 0.9rem;
  top: 0.9rem;
  z-index: 100;
  background-color: #fcfcfc;
  border-radius: 3px;
}

input[type="checkbox"] {
  cursor: pointer;
}
