@import 'assets/styles/utils.scss';
@import 'assets/styles/mixins.scss';

.productsList {
  position: relative;
  padding-bottom: 1rem;
  height: 600px;
  max-height: 600px;
  overflow-y: auto;
  padding-right: 10px;
  @include scrollbar;
}

.head {
  @include gridTable;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 8px;
  padding-right: 8px;
  font-weight: bold;
  color: $graphite;
  background-color: $white;
  z-index: 1;
}

.block {
  @include blockTable;
}

.sortable {
  cursor: pointer;
}
