@import '../../../scss/utils.scss';
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
}

.textarea {
  width: 100%;
  min-height: 60px;
  padding: 0.5rem;
  margin-top: -5px;
  resize: none;
  background-color: #fcfcfc;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  &:focus {
    outline: none;
  }
}

.actionsForm {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  overflow: hidden;
  &:last-child {
    margin-right: 1rem;
  }
}
