@import 'assets/styles/colors.scss';

.sideMenu {
  position: fixed;
  right: 0;
  top: 50px;
  width: 300px;
  height: calc(100% - 50px);
  padding: 1rem;
  background-color: #eeeeee;
  box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  z-index: 100;
  transition: 0.1s ease-in-out;
  overflow-y: scroll;
}

.menuHeader {
  display: flex;
  border-bottom: $divider;
  h3 {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    color: gray;
  }
}

.menuOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 0 1.2rem;
  border-bottom: $divider;
}

.optionsContainer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.description {
  width: 100%;
  display: flex;
  justify-content: space-around;
  P {
    width: 45%;
    text-align: center;
  }
}

.itemBox {
  position: relative;
  width: 45%;
  height: 100px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.1s ease-in;
  &:hover {
    opacity: 0.8;
  }
  p {
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
  }
}
