@import 'assets/styles/mixins.scss';
@import 'assets/styles/colors.scss';

.nav {
  position: relative;
  width: 250px;
  min-height: 100%;
  background-color: $white;
  border-right: 1px solid $dark-grey;
  transition: 0.1s ease-in-out;
  z-index: 300;
}

.navHidden {
  width: 69px;
}

.switchButton {
  @include flex-center;
  position: absolute;
  width: 30px;
  height: 30px;
  right: -15px;
  top: 10px;
  background-color: $grey;
  border: 1px solid $dark-grey;
  padding: 5px;
  border-radius: 50%;
}

.switchButtonHidden {
  transform: rotate(180deg);
}

.linksContainer {
  width: 100%;
  padding: 50px 16px 16px;
}

.navItem {
  position: relative;
  font-size: 1.1rem;
  margin-bottom: 16px;
}

.navLink {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: medium;
  padding: 8px;
  font-size: 1rem;
  color: $graphite;
  span {
    margin-left: 16px;
  }
  .icon {
    @include flex-center;
  }
}

.active {
  background-color: $grey;
  border-radius: 8px;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.divider {
  margin: 10px 0;
  border-bottom: $divider;
}
