@import 'assets/styles/theme.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  h4 {
    color: $dark-grey;
    margin-bottom: 8px;
  }
}

.items {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
