.taskButton {
  width: 100%;
  min-width: 250px;
  padding: 0.8rem;
  background-color: rgba(231, 231, 231, 0.756);
  border-radius: 5px;
  transition: 0.1s;
  text-align: left;
  
  &:hover {
    background-color: rgba(192, 192, 192, 0.756);
  }
}
