.input {
  outline: none;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  background-color: #edf6f9;
  border: 1px solid darken(#edf3f5, 10%);
  margin: 5px 0;
  font-size: 14px;
}
.error{
  outline: none;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 14px;
  border: 1px solid red;
}