.input{
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid grey;
  width: 100%;
  min-height: 60px;
  margin-bottom: 1rem;
}
.textarea{
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid grey;
  width: 100%;
  min-height: 150px;
}
.button{
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: 1rem;
}