@import '../../scss/utils.scss';

.container{
  // margin: 0 auto;
  // position: relative;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: .8rem;
  -webkit-box-shadow: $box-shadow; 
  box-shadow: $box-shadow;
  background-color: #fcfcfc;
  // max-width: 40%;
}
.header{
  
  display: flex;
  justify-content: space-between;
  padding-bottom: .9rem;
  border-bottom: 1px solid rgb(190, 190, 190);
  h3{
   font-size: 1.4rem;
  }
}

.settings{
  display: block;
  position: relative;
}

// .title{
//   display: flex;
// }



.dedline{
  padding-top: .5rem;
  font-size: .9rem;
  color: grey;
  display: flex;
  justify-content: space-between;
}

.actions {
  // min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  background-color: #fcfcfc;
  -webkit-box-shadow: $box-shadow; 
  box-shadow: $box-shadow;
  top: 1.6rem;
  right: -.5rem;
  overflow: hidden;
  padding: .5rem;
  border-radius: 10px;
  z-index: 999;
  button{
    white-space: nowrap;
    background-color: transparent;
    display: flex;
    align-items: center;
  }
}

.actionBtn{
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}


.titleText {
  width: 100%;
  border: none;
  background-color:  transparent;
  font-size: 1.4rem;
  max-height: 100px;
  margin-right: 1rem;
  resize: none;
}

.body{
  // height: 40px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid rgb(190, 190, 190);
  display: flex;
}

.bodyText{
  width: 100%;
  line-height: 1.5;
  border: none;
  background-color:  transparent;
  resize: none;
  // overflow-y: hidden;
  &::-webkit-scrollbar-track{
    display: none;
  }
  &::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
    display: none;
  }
  &::-webkit-scrollbar-thumb{
    background-color: rgba(58, 166, 0, 0.81);
  }
}

.activeEdit{
  border: 1px solid black;
  background-color:  transparent;
  padding: .5rem;
  min-height: 50px;
  height: 100%;
}

.button{
  background-color: rgb(13, 97, 146);
  color: white;
  padding: .3rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: .05rem;
}