@import '../../scss/utils.scss';

.container{
  margin: 0 auto;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: $box-shadow; 
  box-shadow: $box-shadow;
  background-color: #fcfcfc;
}
.header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(190, 190, 190);
  h3{
   font-size: 1.4rem;
  }
}

.content{
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.dedline{
  padding-top: .5rem;
  font-size: .9rem;
  color: grey;
}