.iconButton {
  width: 30px;
  height: 30px;
  max-height: 100%;
  background-color: transparent;
  // background-color: #ebecf0;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 3px;
  &:hover {
    background-color: #d8d8e0;
  }
}
