
.iconButton{
  // margin: 5px 0;
  // width: 30px;
  // height: 30px;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: .5rem;
  border-radius: 5px;
  img{
  }
  &:hover{
    // background-color: #F7F8FA;
  }
}