@import 'assets/styles/theme.scss';

.labelsList {
  max-width: 200px;
  min-width: 40px;
  border-radius: 5px;
  color: $white;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  span {
    line-height: 20px;
    padding: 8px;
    font-size: 14px;
  }
  &:hover {
    opacity: 0.9;
  }
}
