.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
}

.textarea {
  width: 100%;
  min-height: 40px;
  padding: 0.5rem;
  resize: none;
  margin-bottom: 1rem;
  background-color: #fcfcfc;
  border-radius: 4px;
  border: 1px solid grey;
  &:focus {
    outline: none;
  }
}

.actionsForm {
  display: flex;
  margin-top: 1rem;
  overflow: hidden;
  &:last-child {
    margin-right: 1rem;
  }
}

.reactColorful {
  min-width: 100%;
  width: auto;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(153, 153, 153, 0.404);
}
