@import 'assets/styles/theme.scss';
@import 'assets/styles/mixins.scss';

.cardCover {
  @include flex-center;
  width: 100%;
  background-color: $light;
  border-radius: 3px;
  overflow: hidden;
  img {
    height: 120px;
    cursor: pointer;
  }
}
