@import 'assets/styles/mixins.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 440px;
}

.form {
  margin-top: 10px;
  label {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.selectContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.select {
  @include input;
  flex-grow: 1;
  margin: 0;
}

.list {
  width: 100%;
  margin: 20px 0;
  div {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 8px;
    border-radius: 8px;
    color: rgb(74, 80, 98);
    border: 1px solid rgb(223, 223, 223);
    background-color: #f2f7fa;
    span {
      width: 200px;
      font-size: 14px;
    }
    input[type='text'],
    input[type='number'] {
      @include input;
      margin: 0;
      padding: 6px;
    }

    input[type='text'] {
      max-width: 110px;
      margin-right: 10px;
      background-color: #edf2f4;
      opacity: 0.8;
    }
    input[type='number'] {
      max-width: 80px;
    }
  }
}
