@import 'assets/styles/mixins.scss';
.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;

  border-right: 1px solid rgb(225, 225, 225);
  h4 {
    padding: 0 1rem;
  }
}

.categoryList {
  flex: 1;
  display: flex;
  align-items: center;
  overflow-x: auto;
  @include scrollbar;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.box {
  margin-right: 2rem;
  padding: 0 1rem;
  color: rgb(74, 80, 98);
  white-space: nowrap;
  &:last-child {
    margin-right: 0;
  }
  span {
    font-size: 12px;
  }
}
