.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.filter {
  display: flex;
  align-items: center;
}

.filterIcons {
  height: 40px;
  width: 80px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoryName {
  margin-right: 20px;
}
