.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
  h4 {
    font-size: 16px;
    color: grey;
    margin-bottom: 8px;
  }
}

.items {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  // div {
  //   margin-bottom: 0.8rem;
  // }
}
