@import '../../../assets/scss/utils.scss';
.container {
  position: relative;
  padding-bottom: 1rem;
}

.head {
  width: 100%;
  display: flex;
  font-weight: bold;
  height: 50px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.list {
  max-height: 530px;
  overflow-y: auto;
  padding-right: 10px;
  @include scrollbar
}
