.sidebar {
  position: relative;
  width: 300px;
  min-height: 100%;
  background-color: #fcfcfc;
  // background-color: #fbfbfb;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  transition: 0.1s ease-in-out;
  z-index: 300;
}

.sidebarHide {
  width: 69px;
}

.logo {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.navButton {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -15px;
  top: 20px;
  background-color: #ebecf0;
  border: 1px solid #cdced1;
  padding: 0.3rem;
  border-radius: 50%;
  transition: 0.1s;
}

.navButtonHide {
  transform: rotate(180deg);
}

.linksContainer {
  width: 100%;
  padding: 1.4rem 1rem 1rem;
}

.navItem {
  position: relative;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.navLink {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: medium;
  padding: 0.5rem;

  p {
    margin-left: 1rem;
  }
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  opacity: 1;
  background-color: #ebecf0;
  border-radius: 0.5rem;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
