.overlay {
  position: fixed;
  overflow-y: scroll;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: absolute;
  background-color: #fcfcfc;
  border: 1px solid #cdced1;
  border-radius: 8px;
  z-index: 999;
  @media (max-width: 768px) {
    max-width: 400px;
  }
}

.header {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 200;
  h3 {
    font-size: 18px;
    color: gray;
    margin: 0;
  }
}
