@import 'assets/styles/theme.scss';

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.boxColor {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 200px;
  height: 35px;
  margin-right: 5px;
  line-height: 19px;
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
  p {
    width: 150px;
    font-size: $font-size-m;
    color: $white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
