@import 'assets/styles/mixins.scss';
@import 'assets/styles/theme.scss';

.cardWindow {
  position: relative;
  width: 850px;
}

.cardWindowWrapper {
  width: 100%;
  display: flex;
  padding: 24px 16px 16px;
}

.cardWindowContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 660px;
  max-height: 500px;
  background-color: $light;
  padding: 16px;
  border-radius: 8px;
  overflow-y: auto;
  @include scrollbar;
  @media (max-width: 1300px) {
    max-height: 300px;
  }
}

.cardWindowSidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 160px;
  height: 100%;
  padding-left: 16px;
}