@import '../../../../../../assets//scss/mixins.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.form {
  margin-top: 10px;
  margin-bottom: 10px;
  label {
    display: inline-block;
  }
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.select {
  flex-grow: 1;
  @include input;
}

.list {
  width: 100%;
  div {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 5px 5px 8px;
    border-radius: 8px;
    color: rgb(74, 80, 98);
    border: 1px solid rgb(223, 223, 223);
    background-color: #f9fdff;
    span {
      width: 200px;
      font-size: 14px;
    }
    input[type='text'],
    input[type='number'] {
      @include input;
      margin: 0;
      max-height: 40px;
    }

    input[type='text'] {
      max-width: 110px;
      margin-right: 10px;
    }
    input[type='number'] {
      max-width: 80px;
    }
  }
}
