@import '../scss/utils.scss';

.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 230px minmax(400px, 1fr);
  grid-template-rows: 60px auto;
  background-color: $light-grey;
}

.sidebarContainer {
  grid-column: 1/2;
  grid-row: 2/-1;
}

.topbarContainer {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.pagesContainer {
  grid-column: 2/-1;
  grid-row: 2/-1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // padding: 2rem;
}

.historyContainer {
  grid-column: 3/-1;
  grid-row: 2/-1;
}
