.layout {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.appbar {
  height: 50px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  height: calc(100% - 50px);
  
}

.pagesContainer {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  background-color: yellow;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}
