@import 'assets/styles/colors.scss';

.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 50px 1fr;
}

.appbar {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 2/-1;
}

.pages {
  grid-column: 2/-1;
  grid-row: 2/-1;
  overflow: hidden;
  background-color: $light-blue;
}
