@import 'assets/styles/mixins.scss';
@import 'assets/styles/theme.scss';

.product {
  position: relative;
  @include gridTable;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px 0;
  color: $graphite;
  border: 1px solid $light-grey;
  background-color: $white;
}

.block {
  @include blockTable;
}
