.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  // h4 {
  //   font-size: 0.9rem;
  //   color: grey;
  //   margin-bottom: 0.5rem;
  // }
}

.boxColor {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  width: 200px;
  height: 35px;
  margin-right: .3rem;
  margin-bottom: .3rem;
  line-height: 19px;
  border-radius: 0.2rem;
  cursor: pointer;
  vertical-align: middle;
  p {
    width: 150px;
    font-size: 0.9rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
