.popup {
  max-width: 350px;
  min-width: 150px;
  position: absolute;
  right: -40px;
  top: 5px;
  padding: 0.5rem 1rem 1rem;
  background-color: #fcfcfc;
  border: 1px solid #cdced1;
  border-radius: 8px;
  z-index: 200;
}

.header {
  min-width: 240px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(175, 175, 175);
  padding-bottom: 0.5rem;
  h3 {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: gray;
  }
}

.popupContent {
  margin-top: 8px;
}
