@import '../../assets/scss/utils.scss';

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 300px);
  width: 100%;
  height: 100%;
  gap: 2rem;
  padding: 3rem 3rem 0;
  background-color: #f6faff;
}

.left {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  & .top {
    background-color: #fcfcfc;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  & .bottom {
    position: relative;
    padding: 2rem 2rem 0;
    flex: 1;
    background-color: #fcfcfc;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.right {
  grid-column: 2/-1;
  background-color: #fcfcfc;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
