//colors
$white: white;
$dark-grey: #262626;
$light-grey: #F7F8FA;
$dark: #000;
$orange: #e08e33;
$red: #d25e49;
$box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);

//breakpoints
$breakpoints: (
  tablet: (
    min-width: 500px,
  ),
  desktop: (
    min-width: 1000px,
  ),
);

@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - error';
  }
}